/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#bottom_toolbar{
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  overflow: visible;
  background-color: #ccc;
  left: 0px;
  float: left;
}

.toolbar{
  margin-top: 5px;
}

.selected_items{
  display: table-cell;
  vertical-align: middle;
}

/*DISPLAY DE PRODUCTOS*/

.under-product-box
{
  margin-top: 20px;
}

.thumbnail{
  text-align: center;
  display: block;
  line-height: 20px;
  border: 1px solid #ddd;
}

.thumbnail > img{
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*TABLAS DE PRODUCTOS*/

.product-features{
  
}

.product-features th{
  width: 300px;
}